body {
    font-family: Arial, sans-serif; 
    font-size: 50px;
    margin: 0;
    padding: 0px;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    width: 1400px;
    height: 2890px;
    display: flex;
    flex-direction: column;
}
#logo {
    align-items: center;
    height: 247.2px;
    width: 1450.8px;
    margin-left:-90px;
    margin-bottom: 0px;
    margin-top: -90px;

}
header {
    background-color: #005f73; /*Cor Verde*/
    color: white;
    width: 100%;
    padding: 200px 0px;
    border-bottom: 10px solid #94d2bd; /* Linha sutil separando o cabeçalho */
}
.menu {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -90px;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: #94d2bd;
    padding:30px 50px;
    margin: 30 8 -700 8;
    border-radius: 80px;
    transition: background-color 0.3s ease-in-out;
    font-size: 50px;
    display: inline-block;
}
.menu a:hover {
    background-color: #e9d8a6; /* Cor de hover para realçar o efeito */
}
.home {
    text-decoration: none;
    color: black;
}
body{
    flex: 1;
}
footer {
    margin-top:60%;
    background-color: #333;
    color: #999;
    text-align: center;
    padding: 2px;
    font-size: 55px;
}
#cfooter{
    margin-top: 150px;
    background-color: #333;
    color: #999;
    text-align: center;
    padding: 3px;
    font-size: 55px;
}
#hfooter{
    margin-top: 100%;
    background-color: #333;
    color: #999;
    text-align: center;
    padding: 1px;
    font-size: 55px;
}
#MyChart{
    margin: 100 30 100 30;
    width: 1300 !important;
    height: 700px !important; /* ou a altura desejada */
    aspect-ratio: 0; /* ou remova a propriedade */
}
#totalBox {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 80px auto;
    border-radius: 50px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 70px;
    color: #333;
}
.about-us{
    margin: 85 60 60 60;
    text-align: justify;
    font-size: 50px;
}
#about-text{
    text-indent: 70px;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    
    #totalBox {
        width: 80%;
    }
    header h1 {
        font-size: 28px;
    }
    
    .menu a {
        font-size: 14px;
        padding: 8px 15px;
    }
}

/*Account*/
.profile-card{

    width:100%;
    max-width: 1050px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 100px;
    box-shadow: 8px 8px 8px 8px rgba(56, 56, 56, 0.1);

}

.profile-card .profile-header{

    background-color: #000;
    padding: 150px 40px 100px 40px;

}

.profile-card .profile-body{

    background-color: #ffffff;
    padding: 20px 40px 100px 40px;

}
.profile-card .profile-body .info-profile{
    text-align: left;
    color: #a4a4a4e5;

   
}
#n-profile {
    color: #b6b6b6e5;
    font-size: 45;
    text-align: center;
    margin-top: -10;
}
.profile-card .profile-body .user-info{
    text-align: left;
    margin-left: 50px;
    margin-top: -500px;
}

#logo-account{
    width: 100%;
    height: auto;
}
.profile-card .profile-body .img-perfil{

    margin-top: -170px;
    margin-bottom: 20px;

}

.profile-card .profile-body .img-perfil img{

    width: 300px;
    height: 300px;
    border-radius: 50%; 
    padding: 3px;
    background-color: #ededed;
    margin-left:10px;
}
/*Help*/ 

#qfrequency{
    margin: 50;
    font-size: 80px;
}

.accordion {
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
  padding: 40px ;
  width: 1380px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 52px;
  transition: 0.4s;
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-right: 10px;
}

    
.active, .accordion:hover {
  background-color: #ccc;
  border-radius: 50px;
  border:none;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

.active:after {
  content: "\2212";
}
.panel {
  font-size: 50px;
  text-align: justify;
  text-indent: 55px;
  padding: 0 45px;
  margin-bottom: px;
  display: none;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);
}

.form{
  text-align: justify;
  text-indent: 55px;
  padding: 25 45px;
  display: none;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);
}
#frm {
    font-size: 50px;
    text-indent: 35px;
    font-family: Arial, sans-seriff;
    margin: 10 10 0 -50;
    padding-top: 35px;
    width: 100%;
    height: 400;
    resize: none;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.03);
}
textarea{
    border-radius: 20px;  
}
#submit{
    padding: 15 30;
    font-size: 52;
    margin: 40px;
    border: 1px;
    border-radius: 50px;
    background-color: #94d2bd;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
}
#submit:hover {
    background-color: #e9d8a6;
}
/*Calendar*/
h2 {
    text-align: center;
    margin: 60 10 30 10;
    font-weight: bold;
}
.selectcal {
    text-align: center;
    font-family: Arial, sans-serif; 
}
.selectcal label{
    
    font-size: 70px;
    width: 100px;
    height: 100px;
}
#year, #month{
    border: 5px solid #484848e9;
    border-radius: 50px;
    margin: 25px;
    padding: 25px;
    font-size: 60px;

}
option {
    font-size: 15px;
}
#butcal{
    margin-top: 40px;
    margin-bottom: -10px;
    padding: 20px;
    font-size: 60px;
    border: 5px solid #484848e9;
    border-radius: 50px;
    background-color: #007bff73;;
}

.boxcal {
    height: 1150px;
    width: 1300px;
    margin: 100 60 95 40;
    border: 10px solid #484848e9;
    border-radius: 50px;
    background-color:#f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.calendar {
    margin: 30 90 30 90;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 30px;
    text-align: center;
    max-width: 600px;
    font-weight: bold;
    font-size: 50px;
}
.day {
    padding: 40px;
    background-color: #e0e0e0;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}
.day:hover {
    background-color: #b0b0b0;
}
.tooltip {
    display: none;
    position: absolute;
    bottom: -190px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #94d2bd;
    padding: 15px;
    border-radius: 150px;
    font-size: 42px;
    z-index: 10;
    background-color:#0086a1;
}
.total-box {
    text-align: center;
    background-color: #f1f1f1;
    padding: 30px;
    margin: 80px auto;
    border-radius: 50px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 70px;
    color: #333;
}
select, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}